.nav-show {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(211, 35, 35);
    padding: 4px; 
}

.nav-show-inner {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px; 

}

.nav-show-left { 
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: x-large;
}

.main-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background: #fff;
    width: 900px;

    border-top: 0;
}

.nav-show-mid {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-show-right {
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}

.under-nav-container {
    height: 40px;
    width: 100%;
    background-color: rgb(248, 248, 248);
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.under-nav-content {
    width: 960px;
    display: flex;
    height: 100%;
    align-items: center;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    justify-content: space-between;
}  

.filter-container{
    background-color: #f5f5f5;
    padding: 30px 0;
    border-bottom: 1px solid #e6e6e6;
}

.filter{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-right{
  font-size: 21px;
  color: #333;
}

.business-index-left {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 15px 0px 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}

.content-right {
    padding-left: 10px;
    justify-content: right;
    width: 200px;
}

.under-nav-left {
    display: flex;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.under-nav-review {
    display: flex;
    align-items: center;
    width: 140px;
    justify-content: space-evenly;
}

.under-nav-left li {
    display: flex;
    align-items: center;
    margin: 0;
    height: 40px;
    width: 120px;
    border: 1px solid lightgray;
    text-align: center;
    justify-content: space-evenly;
}

span {
    font-weight: bold;
}

.business-main-info {
    font-size: x-large;

}

.business-footer {
    bottom: 0;
    background-color: lightgrey;
    border: 1px solid #ccc;
    font-size: 14px;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.business-footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fake-information-container{
    display: flex;
    flex-direction: column;
    margin-left:auto; 
    margin-right:0;
}
  
.working-hours h1{
color: #d32323;
margin-bottom: 12px;
font-weight: bold;
font-size: 16px;
}



.working-hours div span{
font-weight: bold;
}

.ameritites h1{
color: #d32323;
margin: 12px 0px;
font-weight: bold;
font-size: 16px;
}

.ameritites div{
margin-bottom: 10px;
}

.ameritites div span{
font-weight: bold;
}

.business-map {
    padding: 5px;
    background: #fff;
    border: 1px solid #ccc;
    width: 300px;
    height: 170px;
}

.business-map-container {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 250px;
    width: 310px;
}


.business-index-container{
  display: flex;
  justify-content: center;
  align-items: space-around;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}

.business-index{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 20px;
}

.business-index-photo img{
  width: 210px;
  height: 210px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 18px;
}

.business-index-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 75px;
}

.business-index-info-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  height: 75px;
}

.business-index-info-left{
  display: flex;
  flex-direction: column;
}

.business-index-info-right{
  width: 120px;
  padding-top: 3px;
  padding-left: 12px;
  text-align: right;
  height: 70px;
  display: flex;
  flex-direction: column;
  font-size:14px;
  color: #333333;
}
.business-index-info-right div{
  padding-bottom: 5px;
}

.index-comment{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.business-index-photo img{
  display: flex;
  justify-content: flex-start;
  height: 210px;
  width: 210px;
  margin-right: 10px;
}

.fake-map {
    height: 350px;
    width: 350px;
    position: sticky;
    top: 0;
}

#index-map-container {
   height: 100%;
   width: 100%; 
}

.map-container{
    height: 350px;
    width: 350px;
    position: sticky;
    top: 0;
}

.business-index-section-entire-master {
    display: flex;
    justify-content: space-between;

}

.index-location {
    float: right;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: text;
    padding: 5px;
    max-width: 630px;
    font-size: 12px;
}