#write-a-review{
  display: inline-block !important;
  color: white;
  border-color: #8d0005;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  background-color: #d90007;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 8px 19px 9px 12px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin-right: 3px;
}

.business-header-info-container{
  display: flex;
  justify-content: center;   
  padding-top: 20px;
}

.business-header-info{
  width: 960px;
  display: flex;
  justify-content: space-between;  
  margin-bottom: 50px;
  border-bottom: 1px solid gray;
  margin-left: 50px;
  margin-right: 50px;
}

.under-header-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 200px;
}

.business-photo {
    display: inline-block;
    width: 25%;
    height: 25%;
    object-fit: cover;
    object-position: center;
}

.comment-box-container{
  padding: 18px 0 17px 0;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  flex-direction: row;
  width: inherit;
  
}

.comment-box-profile-picture{
  margin-right: 9px;
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

.comment-box-profile{
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-right: 40px;
}

.review-user-pic{
  margin-right: 9px;
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

.comment-box-body{
  flex: 2;
  padding-left: 15px;
}

.comment-box-rating-date{
  display: flex;
  margin: 6px 0px;
}

.comment-box-body{
  margin-bottom: 12px;
  color: #333;
  font-size: 14px;
}

.content-left{
  flex: 2;
  min-width: 660px;
  padding-right: 30px;
  border-right: 1px solid #e6e6e6;
}