.header {
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("https://good-food-to-eat-seeds.s3-us-west-1.amazonaws.com/gHNcNahbSwCaGQGT3QYdPQ.jpg");
    background-size: cover;
    background-position: center;
    height: 550px;
}

#logo{
    display: block;
    justify-content: center;
    align-self: center;
    font-family: "Helvetica Neue", Helvetica, Arial, "sans serif";
    font-weight: bold;
    height: 100px;
    width: 200px;
    color:  black;
    font-size: 3.5em;
    justify-content: center;
    text-shadow: 2px 2px 2px white;;
    margin: 0 auto;
    padding-top: 80px;
    padding-left: auto;
    padding-right: auto;
}

.explore-business {
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: "Helvetica Neue", Helvetica, Arial, "sans serif";
    font-weight: bold;
    color:  black;
    font-size: 1.5em;
    padding: 24px;
    justify-content: center;
    margin: 0 auto;
    
}

.explore-business a {
    background: red;
    border: 1px solid #bbbac0;
}

.footer {
    background-color: lightgrey;
    border: 1px solid black;
    // justify-content: center;
}

.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.link-logo {
    height: 50px;
    width: 50px;
}

.copyright-img {
    width: 648px;
    margin: 0 auto;
    margin-bottom: 10px;
}
  
.copyright-text {
    width: 550px;
    font-size: 12px;
    color: #666;
    margin: 0 auto;
    line-height: 1.1em;
    text-align: center;
    font-weight: bold;
}