.navbar-container{
    justify-content: center;
    padding: 20px 0px; 
    font-size: 14px;
    font-weight: 700;
    color: black;
  }

.left-nav{ 
    float: left;
    color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-nav{
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }